<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Χόμπι
    </ion-title>
  </ion-toolbar>
</ion-header>

<link rel="stylesheet" href="tab1.page.scss">

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ένα απο τα χόμπι μου</ion-title>
    </ion-toolbar>
  </ion-header>


  <body>
    <h1 style="text-align: center;">Φωτογραφία</h1>
   
  

        <div class="container">
           
              <p> Άρχισα να ασχολούμαι με την φωτογραφία όταν ήμουν 1ο έτος.
                Μου αρέσει να βγαίνω στη κέντρο της Θεσσαλονίκης και να βγάζω φωτογραφίες τον κόσμο, τα κτίρια, τον δρόμο, ό,τι μου προκαλεί ενδιαφέρον εκείνη τη στιγμή. 
                Αργότερα ξεκίνησε να μου αρέσει να βγάζω πορτραίτα τους φίλους μου. <br></p> <p>Κάποια απο τα αγαπημένα μου κλικ : 
              </p>

              <div class="row">
                <div class="column">
                  <img  src="https://i.ibb.co/9ptM7z8/1.png" alt="photo1">
                  <img  src="https://i.ibb.co/wrfxz5x/2.png" alt="photo2">
                  </div>
                  <div class="column">
                    <img src="https://i.ibb.co/fQW3RzD/Screenshot-23.png" alt="Screenshot-23" >
                   
                </div>
                <div class="column">
      
                  <img src="https://i.ibb.co/4NqqWhG/Screenshot-21.png" alt="Screenshot-21" >
                  <img src="https://i.ibb.co/d4NvrcL/Screenshot-20.png" alt="Screenshot-20" >
                  </div>
                  <div class="column">
                    <img src="https://i.ibb.co/M62H6QJ/Screenshot-22.png" alt="Screenshot-22" >
                </div>
                </div>

              
               
                
               
            </div>
         
            
            
  
    </body>
</ion-content>
