<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Journal
    </ion-title>
  </ion-toolbar>
</ion-header>

<link rel="stylesheet" href="tab1.page.scss">

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Journal</ion-title>
    </ion-toolbar>
  </ion-header>

  <body>
  <h1 style="text-align: center;">Welcome to my journal</h1>
 

      <div class="container">
          <div class="col">
              <img style="border-radius: 35%;" width="10%" src="https://avatars.githubusercontent.com/u/32639906?s=400&u=756053231850f0a676a53c64b75e7fa3ac2b137e&v=4" alt="profile">
  
             
                <p class="card-text">Γειά! Είμαι ο Γιώργος. Αυτό είναι το personal journal μου.<br>
                Εδώ θα βρείς πληροφορίες για εμένα και τα ενδιαφέροντα μου.</p>
                
              </div>
          </div>
       
          
          

  </body>


</ion-content>
