<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Journal
    </ion-title>
  </ion-toolbar>
</ion-header>

<link rel="stylesheet" href="tab1.page.scss">

<ion-content [fullscreen]="true">
  <ion-scroll scrollX="true"  scrollY="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Journal</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <body>
  <h1 style="text-align: center;">Welcome to my journal</h1>

 

  <div class="container">
          <div class="col">
              <img style="border-radius: 15%; padding-right: 1%;" align="left" width="25%" src="https://avatars.githubusercontent.com/u/32639906?s=400&u=756053231850f0a676a53c64b75e7fa3ac2b137e&v=4" alt="profile">
  
             
               <h2>Γειά! Είμαι ο Γιώργος. </h2> <p> Αυτό είναι το personal journal μου.</p>
              <p>  Εδώ θα βρείς πληροφορίες για εμένα και τα ενδιαφέροντα μου.</p>


                <p> Είμαι απο ένα μικρό χωριό του Δήμου Αμφίπολης Σερρών, την <b> Κρηνίδα. </b></p> <br>
                 <p>Σπουδάζω Πληροφορική στο Α.Π.Θ. Στο μέλλον θέλω να ασχοληθώ με web development και android development.</p>

                <p>Στον ελεύθερο μου χρόνο μου αρέσει να παίζω βιντεοπαιχνίδια, να βλέπω σειρές ή να ζωγραφίζω.</p>
              <p> Έχω 4 παπαγαλάκια, το χόμπι μου είναι η φωτογραφία, και έχω βάλει ως στόχο να μάθω να παίζω πιάνο</p>
                
              </div>

  </div>
       
      
          

  </body>
</ion-scroll>

</ion-content>
