<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Τα κατοικίδια μου</ion-title>
    </ion-toolbar>
  </ion-header>

  <body>
    <h1 style="text-align: center;">Τα κατοικίδια μου</h1>
    <p style="text-align: center;">Έχω 4 πανέμορφα παπαγαλάκια, είδους budgie.</p>
  <br>
  <br>
  <br>
   <div class="row">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.ibb.co/xzZvYJj/6.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Αυτή είναι η Κόκο. <br>Είναι πολύ
          ζωηρή και της αρέσει να εξερευνεί το σπίτι.</p>
      </div>
    </div>
    &nbsp; &nbsp; &nbsp;
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.ibb.co/yWNMJvw/3.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Αυτός είναι ο Μάουι.<br> Είναι πολύ 
          παιχνιδιάρης και κάνει αρκετή φασαρία!</p>
      </div>
    </div>
    &nbsp; &nbsp; &nbsp;

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.ibb.co/pzHwk1y/5.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Αυτός είναι ο Μοχίτο.<br> Είναι πολύ 
          δεμένος με τον φίλο του, τον Μάουι.</p>
      </div>
    </div>
    &nbsp; &nbsp; &nbsp;
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.ibb.co/SRmdsNS/4.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Αυτή είναι η Λούμι.<br> Είναι η πιο μικρή της παρέας,
          είναι φιλική και θαρραλέα.</p>
      </div>
    </div>
    &nbsp; &nbsp; &nbsp;
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.ibb.co/p34MnC1/Screenshot-19.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Μαζί είναι η καλύτερη παρέα, και πάντα μου φτιάχνουν την διάθεση.</p>
      </div>
    </div>


</div>


      
         
            
            
  
    </body>
  
</ion-content>
