<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Τα κατοικίδια μου</ion-title>
    </ion-toolbar>
  </ion-header>

  <body>
    <h1 style="text-align: center;">Ένα απο τα χόμπι μου</h1>
   
  
        <div class="container">
            <div class="col">
              <p>Έχω 4 πανέμορφα παπαγαλάκια, είδους budgie.</p>

              
              <img src="https://i.ibb.co/xzZvYJj/6.png" alt="6" width="25%" align="left"><p>Αυτή είναι η Κόκο. Είναι πολύ
                ζωηρή και της αρέσει να εξερευνεί το σπίτι.
              </p><br>

              <img src="https://i.ibb.co/yWNMJvw/3.png" alt="3" width="25%" align="left"><p>Αυτός είναι ο Μάουι. Είναι πολύ 
                παιχνιδιάρης και κάνει αρκετή φασαρία!
              </p><br> 

              <img src="https://i.ibb.co/pzHwk1y/5.png" alt="5" width="25%" align="left"><p>Αυτός είναι ο Μοχίτο. Είναι πολύ 
                δεμένος με τον φίλο του, τον Μάουι.
              </p><br> 
              
              <img src="https://i.ibb.co/SRmdsNS/4.png" alt="4" width="25%" align="left"><p>Αυτή είναι η Λούμι. Είναι η πιο μικρή της παρέας,
                είναι φιλική και θαρραλέα.
              </p><br>  
             
               
              
               
                </div>
               
            </div>
         
            
            
  
    </body>
  
</ion-content>
